#
# Simple autossh reverse tunnel setup for ubuntu
# replace USER, SERVER, and USERNAME
# To install:
# sudo cp autossh.service /etc/systemd/system/autossh.service
# 
# sudo systemctl daemon-reload
# sudo systemctl start autossh.service
# sudo systemctl enable autossh.service
#
[Unit]
Description=Chirpsounder receiver
After=network.target

[Service]
# local username that will be used to execute autossh
User=hfrx4

ExecStart=/home/hfrx4/src/chirpsounder2/examples/sgo/sgo_iva.sh

# kill process
ExecStop=/usr/bin/killall -g sgo_iva.sh

[Install]
WantedBy=multi-user.target

